services:
    backend:
        build: ./backend
        container_name: backend
        volumes:
            - ./backend:/app
            - /app/node_modules
    frontend:
        build: ./frontend
        container_name: frontend
        volumes:
            - ./frontend:/app
            - /app/node_modules
    nginx:
        build: ./nginx
        container_name: nginx
        depends_on:
            -  frontend
            -  backend
        ports:
            - "8080:80"
        volumes:
            - ./frontend/dist:/usr/share/nginx/html:ro

    npm:
        image: node:23-alpine
        container_name: npm
        volumes:
            - ./:/app
        working_dir: /app/frontend
        tty: true
        stdin_open: true
        profiles:
            - donotstart