.nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 60px;
    & h1 {
        width: 70%;
        text-align: center;
    }
}
.trying {
    display: block;
    height: 22em;
    background-color: #475;
    margin: 25% 0 0;
    overflow: scroll;
    & ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        & li {
            padding: 10px;
            list-style: none;
            text-align: center;
        }
    }
}

.set-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.opponent-area {
    position: fixed;
    top: 10%;
    right: 20px;
    z-index: 2;
    /* Container for relative positioning of bubble */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.player-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    /* Container for relative positioning of bubble */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-speech-bubble {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 15px; /* Space for the tail */
    z-index: 20;
}

.opponent-speech-bubble {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px; /* Space for the tail */
    z-index: 20;
}

.game-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;
}

@media screen and (max-width: 724px) {
    .set-code {
        flex-direction: column;
    }
}