.nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 60px;
    & h1 {
        width: 70%;
        text-align: center;
    }
}
.trying {
    display:block;
    height: 70vh;
    background-color:#475;
    overflow: scroll;
    & ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        & li {
            padding: 10px;
            list-style: none;
            text-align: center;
        }
    }
}

.set-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

@media screen and (max-width: 724px) {
    .set-code {
        flex-direction: column;
    }
}