header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

    .app.title {
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        width: 70%;
        font-size: 4rem;
        font-weight: 900;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        margin-left: 30px;
        width: 70%;
        font-size: 5rem;
        height: 12rem;
    }
}